@font-face {
    font-family: Montserrat;
    src: url(../assets/font/Montserrat-Medium.ttf);
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      @media (max-width: 768px) {
        box-sizing: content-box;
      }
  }

html, body {
    width: 100%;
    height: 100%;
    }

.main-content {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
        @media (max-width: 500px) {
            margin-top: 20px;
        }
    } 