    .not-found-container {
        text-align: center;
        padding-bottom: 40px;
  }

    .not-found-title {
        font-family: Montserrat;
        font-size: 288px;
        font-weight: 700;
        line-height: 410px;
        color: #ff6b6b;
            @media (max-width: 768px) {
                font-size: 200px;
                    @media (max-width: 500px) {
                        font-size: 150px;
                            @media (max-width: 400px) {
                                font-size: 100px;
                            }     
                    }
            }
    }

    .not-found-text {
        font-size: 25px;
        padding-bottom: 50px;
        color: #ff6b6b;
            @media (max-width: 768px) {
                font-size: 18px;
                    @media (max-width: 500px) {
                        font-size: 14px;
                        padding-bottom: 25px;
                    }    
            }
    }

    .not-found-link {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        color: black;
        font-family: Montserrat;
    }

