$primary-font: 'Montserrat';
$primary-color: black;
$secondary-color: white;
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$banner-overlay: rgba(0, 0, 0, 0.5);
$gallery-bg: rgba(246, 246, 246, 1);

    .logo-header {
        width: 210px;
        height: 68px;
        margin-bottom: 20px;
        cursor: pointer;
            @media (max-width: 1024px) {
                width: 180px;
                height: 58px;
                    @media (max-width: 768px) {
                        width: 140px;
                        height: 45px;
                            @media (max-width: 576px) {
                                width: 120px;
                                height: 39px;
                                    @media (max-width: 480px) {
                                        width: 100px;
                                        height: 32px;
                                            @media (max-width: 400px) {
                                                width: 80px;
                                                height: 26px;
                                                    @media (max-width: 360px) {
                                                        width: 60px;
                                                        height: 19px;
                                                    }
                                            }
                                    }
                            }
                    }
            }
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        @media (max-width: 768px) {
            gap: 26px;
            padding: 15px;
                @media (max-width: 480px){
                    gap:16px;
                    padding: 10px;
                        @media (max-width: 500px) {
                            gap: 6px;
                            padding: 8px;
                        }
                }
        }
    }


    .ul-nav {
        display: flex;
        flex-direction: row;
        font-family: $primary-font;
        gap: 30px;
        list-style-type: none;
        cursor: pointer;
            @media (max-width: 480px){
                gap: 15px;
                    li {
                        font-size: 20px;
                        color: $primary-color;
                        cursor: pointer;
                            @media (max-width: 768px) {
                                font-size: 18px;
                                @media (max-width: 600px){
                                    font-size: 15px;
                                    @media (max-width: 500px){
                                        font-size: 12px;
                                            @media (max-width: 480px){
                                                font-size: 10px;
                                                gap: 15px;
                                            }
                                    }
                                }
                            }
                    }
            }
    }


    .inactive-link {
        text-decoration: none;
        color: black;
    }

    .active-link {
        text-decoration: underline;
        color: $primary-color;
    }

    .banner-accueil {
        position: relative;
        width: 100%;
        height: 223px;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $box-shadow;
            @media (max-width: 768px) {
                width: 100%;
                height: 111px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }   
            }
    }

    .banner-title {
        position: absolute;
        width: 100%;
        height: 100%; 
        border-radius: 25px;
        font-family: $primary-font;
        display: flex;
        justify-content: center; 
        align-items: center;
        color: $secondary-color;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        background-color: $banner-overlay;
        z-index: 2;
        text-shadow: -1px -1px 0 $primary-color, 
        1px -1px 0 $primary-color, 
        -1px 1px 0 $primary-color, 
        1px 1px 0 $primary-color;
            @media (max-width: 768px) {
                font-size: 30px;
                    @media (max-width: 480px){
                        font-size: 20px;
                            @media (max-width: 420px){
                                font-size: 16px;
                                    @media (max-width: 500px){
                                        font-size: 15px;
                                    }   
                            }
                    }
            }
    } 

    .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: 340px 340px 340px;
        justify-content: space-around;
        border-radius: 25px;
        background: $gallery-bg;
        margin: 50px 0;
        padding: 50px 0;
        gap: 50px;
            @media (max-width: 1440px) {
                grid-template-columns: 300px 300px 300px;
                gap: 30px;
                    @media (max-width: 1280px) {
                        grid-template-columns: 280px 280px 280px;
                        gap: 20px;
                            @media (max-width: 1024px) {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-items: center;
                                padding: 25px 0;
                                margin: 25px 0;
                                    @media (max-width: 768px) {
                                        display: flex;
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                        align-items: center;
                                    }
                            }   
                    }
            }
    }

    .gallery-item {
        position: relative;
        width: 340px; 
        height: 340px;
            @media (max-width: 1440px) {
                width: 300px; 
                height: 300px;
                    @media (max-width: 1280px) {
                        width: 280px; 
                        height: 280px;
                            @media (max-width: 1024px) {
                                width: 180px; 
                                height: 180px;
                                    @media (max-width: 347px) {
                                        width: 150px; 
                                        height: 150px;
                                            @media (max-width: 320px) {
                                                width: 130px; 
                                                height: 130px;
                                            }
                                    }   
                            }
                    }
            }
    }

    .gallery-image {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        object-fit: cover;
        cursor: pointer;
            @media (max-width: 1440px) {
                width: 300px; 
                height: 300px;
                    @media (max-width: 1280px) {
                        width: 280px; 
                        height: 280px;
                            @media (max-width: 1024px) {
                                width: 180px; 
                                height: 180px;
                                    @media (max-width: 347px) {
                                        width: 150px; 
                                        height: 150px;
                                            @media (max-width: 320px) {
                                                width: 130px; 
                                                height: 130px;
                                            }
                                    }
                            }
                    }
            }
    }

    .gallery-title {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-family: $primary-font;
        color: $secondary-color;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        z-index: 2;
        border-radius: 5px;
            @media (max-width: 1024px) {
                font-size: 14px;
                    @media (max-width: 347px) {
                        font-size: 10px;
                            @media (max-width: 320px) {
                                font-size: 8px;
                            }
                    }
            }
    }

    .footer {
        background: $primary-color;
        display: flex;
        flex-direction: column;
        height: 209px;
        padding: 60px;
        place-items: center;
            .logo-footer {
                margin-bottom: 20px;
                    @media (max-width: 768px) {
                        width: 122px; 
                        height: 39px;
                    }
            }
    }

    .text-footer {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
            @media (max-width: 768px) {
                font-size: 15px;
                    @media (max-width: 347px) {
                        font-size: 10px;
                    }
            }
    }

