.chevron-left,
.chevron-right {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    z-index: 10;
}

.chevron-left {
    left: 20px;
}

.chevron-right {
    right: 20px;
}

.house-modal {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
}

.modal {
    width: 100%;
    height: 100%;
    position: relative;
}

.modal-image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}
